{% extends 'shared/base.html' %}

{% block title %}Credentials{% endblock title %}

{% block content %}
<!-- Main content -->
<div class="uk-container uk-margin-medium-top">
    <h1 class="uk-h1 uk-text-center">Available Credentials</h1>
    <hr class="uk-hr">
    {% if not empty %}
    <form action="{% url 'Search:search-query' %}" method="GET" class="uk-search uk-search-navbar">
        <span uk-search-icon></span>
        <input type="text" class="uk-search-input" type="search" placeholder="Search - Google" name="query">
    </form>
    <table class="uk-table uk-table-striped">
        <tbody>
            <tr>
                <th>Website Name</th>
                <th>Website URI</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actual Password</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            {% for password in passwords %}
            <tr>
                <td>{{ password.website_name }}</td>
                <td><a href="{{ password.website_url }}">{{ password.website_url }}</a></td>
                <td>{{ password.username }}</td>
                <td>{{ password.email }}</td>
                <td>{{ password.password }}</td>
                <td>{{ password.created_at }}</td>
                <th><a href="{% url 'ProjectHeart:password-update' password.id %}"><button
                            class="uk-button uk-button-primary uk-button-small uk-margin-small-bottom uk-width-expand">Update</button></a>
                    <a href="{% url 'ProjectHeart:password-delete' password.id %}"><button
                            class="uk-button uk-button-danger uk-button-small uk-margin-small-bottom uk-width-expand">Delete</button></a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ProjectHeart:home-page' %}" class="uk-link uk-align-right" target="_blank">Go back to homepage <i
            class="fa fa-long-arrow-alt-right"></i></a>
    {% if passwords.has_other_pages %}
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        {% if passwords.has_previous %}
        <li class="page-item default-cursor"><a href="?page={{ passwords.previous_page_number }}"
                class="page-link">&laquo;</a></li>
        {% else %}
        <li class="disabled page-item page-link"><span>&laquo;</span></li>
        {% endif %}
        {% for i in passwords.paginator.page_range %}
        {% if passwords.number == i %}
        <li class="active page-item page-link cursor"><span>{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li class="page-item cursor"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if passwords.has_next %}
        <li class="page-item cursor"><a href="?page={{ passwords.next_page_number }}" class="page-link">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled page-item page-link default-cursor"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
    {% else %}
    <div class="uk-text-center">
        <h3 class="uk-h3">Sorry no current password saved</h3>
        <span class="uk-h4">Try saving one from the <a href="{% url 'ProjectHeart:home-page' %}" target="_blank"
                rel="noopener noreferrer">home page</a></span>
    </div>
    {% endif %}
</div>
{% endblock content %}