{% extends 'shared/base.html' %}

{% block title %}Passwords{% endblock title %}

{% block content %}
<!-- Main content -->
<div class="uk-container uk-margin-medium-top">
    <h1 class="uk-h1 uk-text-center">Available Passwords</h1>
    <hr class="uk-hr">
    {% if not empty %}
    <form action="{% url 'Search:search-query' %}" method="GET" class="uk-search uk-search-navbar">
        <span uk-search-icon></span>
        <input type="text" class="uk-search-input" type="search" placeholder="Search - Google" name="query">
    </form>
    <table class="uk-table uk-table-striped">
        <tbody>
            <tr>
                <th>Website Name</th>
                <th>Website URI</th>
                <th>Actual Password</th>
                <th>Hashed Password</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            {% for password in passwords %}
            <tr>
                <td>{{ password.website_name }}</td>
                <td><a href="{{ password.website_url }}">{{ password.website_url }}</a></td>
                <td>{{ password.password }}</td>
                <td>{{ password.password_hashed }}</td>
                <td>{{ password.created_at }}</td>
                <th><a href="{% url 'ProjectHeart:password-update' password.id %}"><button
                            class="uk-button uk-button-primary uk-button-small">Update</button></a> <a
                        href="{% url 'ProjectHeart:password-delete' password.id %}"><button
                            class="uk-button uk-button-danger uk-button-small">Delete</button></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="uk-text-center">
        <h3 class="uk-h3">Sorry no current password saved</h3>
        <span class="uk-h4">Try saving one from the <a href="{% url 'ProjectHeart:home-page' %}" target="_blank"
                rel="noopener noreferrer">home page</a></span>
    </div>
    {% endif %}
</div>
{% endblock content %}