{% load static %}

<html>
<head>
  <title>Secret Password Saver - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'lib/uikit/css/uikit-rtl.css' %}">
  <link rel="stylesheet" href="{% static 'lib/uikit/css/uikit-rtl.min.css' %}">
  <link rel="stylesheet" href="{% static 'lib/uikit/css/uikit.css' %}">
  <link rel="stylesheet" href="{% static 'lib/uikit/css/uikit.min.css' %}">
  <link rel="stylesheet" href="{% static 'standalone/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'shared/css/style.css' %}">
  <script src="{% static 'lib/uikit/js/uikit.min.js' %}"></script>
  <script src="{% static 'lib/uikit/js/uikit.js' %}"></script>
  <script src="{% static 'lib/uikit/js/uikit-icons.js' %}"></script>
  <script src="{% static 'lib/uikit/js/uikit-icons.min.js' %}"></script>
  <script src="{% static 'shared/js/script.js' %}"></script>

  {% block stylesheets %}
  {% endblock stylesheets %}
</head>
<body>

{% block content %}
{% endblock content %}

</body>
</html>
