{% extends 'shared/base.html' %}

<html>
<head>
  <title>Secret Password Saver</title>
</head>
<body>
  {% block content %}
  <div class="uk-container">
    <h1 class="uk-h1">Hello World</h1>
    <hr class="uk-hr">
    <div class="uk-column">
      <form action="" method="post">
        {% csrf_token %}
        <label>{{ form.password.label }}</label><br>
        {{ form.password }}<br>
        <label>{{ form.website_url.label }}</label><br>
        {{ form.website_url }}<br>
        <label>{{ form.website_name.label }}</label><br>
        {{ form.website_name }}<br><br>
        <input type="submit" value="Submit" class="uk-button">
      </form>
    </div>
  </div>
  {% endblock content %}
</body>
</html>
